body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6c687;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #e8edd9;
    border-radius: 10px;
}

.about-me, .education, .additional-info, .gallery-section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #555;
}

.content {
    text-align: justify;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
