body {
    background-color: #90bf93;
  }
  h1 {
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  h2 {
    color:black;
    text-align:center;
    font-family: Arial, sans-serif;
  }
  p {
    margin: 20px;
    padding: 10px;
    font-family: verdana;
    font-size: 20px;
  }
  .container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: left; 
}
